ServerAdmin webmaster@localhost
    DocumentRoot /var/www/html
    <Directory "/var/www/html"> // here you project path 
        Options Indexes FollowSymLinks
        AllowOverride All // alow all permissions
        Require all granted
    </Directory>
